<!DOCTYPE html>
<html>
<head>
    <title>Shop-Quan-Ao</title>
    <link href="~/data/public/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="~/data/public/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Shopin Responsive web template, Bootstrap Web Templates, Flat Web Templates, AndroId Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--theme-style-->
    <link href="~/data/public/css/style4.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="~/data/public/css/style.css">
    <!--//theme-style-->
    <script src="~/data/public/js/jquery.min.js"></script>
    <!--- start-rate---->
    <script src="~/data/public/js/jstarbox.js"></script>
    <link rel="stylesheet" href="~/data/public/css/jstarbox.css" type="text/css" media="screen" charset="utf-8" />
    <script type="text/javascript">
			jQuery(function() {
			jQuery('.starbox').each(function() {
				var starbox = jQuery(this);
					starbox.starbox({
					average: starbox.attr('data-start-value'),
					changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
					ghosting: starbox.hasClass('ghosting'),
					autoUpdateAverage: starbox.hasClass('autoupdate'),
					buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
					stars: starbox.attr('data-star-count') || 5
					}).bind('starbox-value-changed', function(event, value) {
					if(starbox.hasClass('random')) {
					var val = Math.random();
					starbox.next().text(' '+val);
					return val;
					}
				})
			});
		});
    </script>
    <!---//End-rate---->
    <link href="~/data/public/css/form.css" rel="stylesheet" type="text/css" media="all" />

</head>
<body>
    <!--header-->
    @{ 
        Html.RenderPartial("header");
    }
    <!--main-->
    <!--banner-->
    
    <!--content-->
    @RenderBody()
    <!--//content-->
    <!--//footer-->
    @{ 
        Html.RenderPartial("footer");
    }
    <!--//footer-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/data/public/js/simpleCart.min.js"></script>
    <!-- slide -->
    <script src="~/data/public/js/bootstrap.min.js"></script>
    <!--light-box-files -->
    <script src="~/data/public/js/jquery.chocolat.js"></script>
    <link rel="stylesheet" href="~/data/public/css/chocolat.css" type="text/css" media="screen" charset="utf-8">
    <!--light-box-files -->


    <script type="text/javascript" charset="utf-8">
        $(function () {
            $('a.picture').Chocolat();
        });
    </script>
    <script src="~/data/public/js/imagezoom.js"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script defer src="~/data/public/js/jquery.flexslider.js"></script>
    <link rel="stylesheet" href="~/data/public/css/flexslider.css" type="text/css" media="screen" />

    <script>
        // Can also be used with $(document).ready()
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });
    </script>



</body>
</html>