<div class="footer">
    <div class="footer-middle">
        <div class="container">
            <div class="col-md-3 footer-middle-in">
                <a href="index.html"><img src="public/images/logoDemo.png" alt=""></a>
                <p>Hiện nay, thương hiệu thời trang Kiot phát triển ngày càng lớn mạnh. Ngoài ra, nhằm tạo sự tiện lợi mua sắm tối đa cho khách hàng, Kiot phát triển hệ thống bán hàng online, giao hàng đến tận tay người tiêu dùng.</p>
            </div>

            <div class="col-md-3 footer-middle-in">
                <h6>Thông Tin</h6>
                <ul class=" in">
                    <li><a href="404.html"></a></li>
                    <li><a href="index.php?controller=contact">Liên Hệ</a></li>
                    <li><a href="index.php?controller=contact">Phản Hồi & Góp Ý</a></li>
                    <li><a href="index.php?controller=contact">Site Map</a></li>
                </ul>
                <ul class="in in1">

                    <li><a href="index.php?controller=register">Đăng Ký</a></li>
                    <li><a href="index.php?controller=login">Đăng Nhập</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-3 footer-middle-in">
                <h6>Thẻ</h6>
                <ul class="tag-in">
                    <li><a href="index.php?controller=product&id=38">Váy bé gái</a></li>

                    <li><a href="index.php?controller=product&id=39">Đồ bộ bé trai</a></li>

                    <li><a href="index.php?controller=product&id=41">Quần bé trai</a></li>

                    <li><a href="index.php?controller=product&id=42">Áo bé trai</a></li>

                    <li><a href="index.php?controller=product&id=43">Giày dép bé trai </a></li>

                    <li><a href="index.php?controller=product&id=44">Đồ bộ bé gái</a></li>

                </ul>
            </div>
            <div class="col-md-3 footer-middle-in">
                <h6>Newsletter</h6>
                <span>Sign up for News Letter</span>
                <form>
                    <input type="text" value="Enter your E-mail" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='Enter your E-mail';}">
                    <input type="submit" value="Subscribe">
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <ul class="footer-bottom-top">
                <li><a><img src="public/images/f1.png" class="img-responsive" alt=""></a></li>
                <li><a><img src="public/images/f2.png" class="img-responsive" alt=""></a></li>
                <li><a><img src="public/images/f3.png" class="img-responsive" alt=""></a></li>
            </ul>
            <p class="footer-class">&copy; 2022 Shopin | Design by  <a href="http://w3layouts.com/" target="_blank">Hồng Sơn - Quang Lê</a> </p>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
